<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438250206569-k405k4keq0g2pa20bta36hr9oac9r4p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438250206569-k405k4keq0g2pa20bta36hr9oac9r4p2</string>
	<key>API_KEY</key>
	<string>AIzaSyAwvn2hS2hBqbXwCevEhM-7BDjnbT45uAY</string>
	<key>GCM_SENDER_ID</key>
	<string>438250206569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dateInFirebase</string>
	<key>PROJECT_ID</key>
	<string>datein-c1b2c</string>
	<key>STORAGE_BUCKET</key>
	<string>datein-c1b2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438250206569:ios:b3b356c62f81809ba839f8</string>
</dict>
</plist>